<div class="password-type-block">
    <turbo-frame id="digits" src="passwords/digits">
        <ul>
        <% (0..9).each do %>
            <li/>
        <% end %>
    </turbo-frame>
</div>

<div class="password-type-block">
    <turbo-frame id="chars" src="passwords/chars">
        <ul>
        <% (0..9).each do %>
            <li/>
        <% end %>
    </turbo-frame>
</div>

<div class="password-type-block">
    <turbo-frame id="chars_symbols" src="passwords/chars_symbols">
        <ul>
        <% (0..9).each do %>
            <li/>
        <% end %>
    </turbo-frame>
</div>

<div class="password-type-block">
    <turbo-frame id="words" src="passwords/words">
        <ul>
        <% (0..9).each do %>
            <li/>
        <% end %>
    </turbo-frame>
</div>