<script src="assets/reload_frame"></script>

<div class="password-type-block" id="digits_block">
    <turbo-frame id="digits" src="passwords/digits"/>
</div>

<div class="password-type-block" id="chars_block">
    <turbo-frame id="chars" src="passwords/chars" />
</div>

<div class="password-type-block" id="chars_symbols_block">
    <turbo-frame id="chars_symbols" src="passwords/chars_symbols" />
</div>

<div class="password-type-block" id="words_block">
    <turbo-frame id="words" src="passwords/words" />
</div>