<turbo-frame id="chars_symbols">
    <p onClick="reloadFrame(this.parentNode); return false">chars / digits / symbols</p>
    <ul>
        <% @passwords.each do |password| %>
            <li><%= password %></li>
        <% end %>
    </ul>
</turbo-frame>