<turbo-frame id="digits">
    <p onClick="reloadFrame(this.parentNode); return false">digits</p>
    <ul>
        <% @passwords.each do |password| %>
            <li><%= password %></li>
        <% end %>
    </ul>
</turbo-frame>