@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.password-type-block {
    float: left;
    padding-right: 36px;
    border: 1px;
    border-style: solid;
    border-color: #00cc00;
    border-radius: 3px;
    margin: 4px;
}

.password-type-block ul {
    list-style-type: none;
}

li {
    font-family: 'Fira Mono', monospace;
    font-weight: 'medium';
}

body {
    color: #00cc00;
    background-color: black;
}