@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.password-type-block ul {
    list-style-type: none;
}

li {
    font-family: 'Fira Mono', monospace;
    font-weight: 'medium';
}